---
apiVersion: apps/v1
kind: Deployment
metadata: 
  name: djangonotesdeployment
spec: 
  replicas: 3
  selector:
    matchLabels:
      app: djangonotesapp
  template:
    metadata:
      name: djangonotespods 
      labels: 
        app: djangonotesapp
    spec:
      containers: 
      - name: djangonotescontainers
        image: javeedit/djangonotes
        ports:
          - containerPort: 8000
---
apiVersion: v1
kind: Service
metadata: 
  name: djangonotesservice
spec: 
  type: NodePort
  selector:
    app: djangonotesapp
  ports:
    - port: 80
      targetPort: 8000
      nodePort: 30001
...